html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

// Pricing Table

#pricing-table {
	margin: 100px auto;
	text-align: center;
	width: 1200px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
	font-family: $lora;
	font-size: 14px;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 300px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	border-radius: 5px;
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-family: $title;
	text-transform: uppercase;
	font-size: 2.25rem;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	border-radius: 5px 5px 0 0; 
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font-family: $title;
	font-size: 28px;
	line-height: 140px;
	font-weight: 300;
	text-transform: none;
	color: $white;
	background: $mbb_blue;
	border: 5px solid #fff;
	height: 150px;
	width: 150px;
	margin: 10px auto -50px;
	border-radius: 150px;
	// box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #eee;
	padding: 10px 0;
	color: $mbb_blue;
	font-size: 1.1rem;
}

/* --------------- */

#pricing-table {
	.btn-single {
		box-shadow:inset 0px -2px 0px 0px lighten($mbb_grid_green, 8);
		background-color: $mbb_grid_green;
		text-indent: 0;
		border: 1px solid lighten($mbb_grid_green, 8);
		display: inline-block;
		color: #ffffff;
		font-family: $title;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		height: auto;
		line-height: 2.5;
		width: 150px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 1px #333;
		padding: 5px;
		border-radius: 5px;
	}
	.btn-single:hover {
		background: lighten($mbb_grid_green, 8);
	}.btn-single:active {
		position:relative;
		top:1px;
	}
	.btn-week {
		box-shadow:inset 0px -2px 0px 0px lighten($mbb_grid_green, 8);
		background-color: $mbb_grid_green;
		text-indent: 0;
		border: 1px solid lighten($mbb_grid_green, 8);
		display: inline-block;
		color: #ffffff;
		font-family: $title;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		height: auto;
		line-height: 2.5;
		width: 150px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 1px #000;
		padding: 5px;
	}
	.btn-week:hover {
		background: lighten($mbb_grid_green, 8);
	}.btn-week:active {
		position:relative;
		top:1px;
	}
	.btn-month {
		box-shadow:inset 0px -2px 0px 0px lighten($mbb_grid_orange, 8);
		background-color: $mbb_grid_orange;
		text-indent: 0;
		border: 1px solid lighten($mbb_grid_orange, 8);
		display: inline-block;
		color: #ffffff;
		font-family: $title;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		height: auto;
		line-height: 2.5;
		width: 150px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 1px #000;
		padding: 5px;
	}
	.btn-month:hover {
		background: lighten($mbb_grid_orange, 8);
	}.btn-month:active {
		position:relative;
		top:1px;
	}
	.btn-season {
		box-shadow:inset 0px -2px 0px 0px lighten($mbb_grid_purple, 8);
		background-color: $mbb_grid_purple;
		text-indent: 0;
		border: 1px solid lighten($mbb_grid_purple, 8);
		display: inline-block;
		color: #ffffff;
		font-family: $title;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		height: auto;
		line-height: 2.5;
		width: 150px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 1px #000;
		padding: 5px;
	}
	.btn-season:hover {
		background: lighten($mbb_grid_purple, 8);
	}.btn-season:active {
		position:relative;
		top:1px;
	}
}
/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}