$size__site-main: 100%;
$size__site-sidebar: 25%;

/*.full {} Full width class added for header, content and footer - defaults to 100%*/
.main-page {
	max-width: 1040px;
	margin: 0 auto;
}
.inner {
	padding: 2em 0 0 0;
}
#primary {
	float: left;
	width: 66.666666%;
	padding: 20px;
}
#secondary {
	float: left;
	width: 33.33333%;
	padding: 20px 20px 0 0;
}
.pick_block {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	h2 {
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
	p {
		padding: 0 0 0 20px;
	}
}
.pick_content {
	padding: 20px;
}
.site-header {
	margin-left: 40px;
	img {
		width: 400px;
		height: auto;
	}
}
.header-area {
	background: white;
	min-height: 200px;
	border-bottom: 5px solid $gunMetal;
	overflow: hidden;
}