@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Ubuntu:300,400,500,700|Ubuntu+Condensed|Raleway:400,600,500,700,800,900,300|Fjalla+One);

$ubuntu: 'Ubuntu';
$ubuntu_condensed: 'Ubuntu Condensed';
$raleway: 'Raleway';
$lora: 'Lora';
$fjalla: 'Fjalla One';


$serif: $lora;
$sans: $raleway;
$title: $ubuntu_condensed;


$font__main: $serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__title: $title;
$font__text: $serif;

.site-title {
	font-family: $title;
	text-transform: uppercase;
	color: $color__title;

	a, a:hover, a:visited {
		color: $color__title;
	}
}
.site-description {
	font-family: $serif;
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
	margin: 0 0 10px 30px;
}