.main-navigation {
	clear: both;
	width: 100%;
	background-color: rgba(255,255,255,0);
	margin-top: 60px;
	font-family: $title;
	// overflow: hidden;
	@include transition(all 400ms ease-in-out);

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-size: 14px;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 3.75em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				background: rgba(255,255,255,.9);
				color: $mbb_blue;
				width: 200px;
				&:hover > ul {
					left: 0;
				}
			}

			a {
				width: 200px;
				color: $mbb_blue;
				background: rgba(255,255,255,.9);
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding: 10px 20px 5px 20px;
		// background: rgba(255,255,255,.8);
		line-height: 40px;
		font-size: 16px;

		a {
			color: $mbb_blue;
			@include transition(all 100ms ease-in-out);
			@media screen and (max-width: 768px) {
				line-height: 2.5;
			}

			&:hover {
				color: #fff;
				background-color: $mbb_blue;
				@include transition(all 100ms ease-in-out);
				;
			}
		}		

		&:hover > a {
			color: #fff;
			background-color: $mbb_blue;
			@include transition(all 100ms ease-in-out);
		}

		&:hover {
			color: #fff;
			background-color: $mbb_blue;
			@include transition(all 100ms ease-in-out);
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

}
.active {
	.main-navigation ul li a {
		line-height: 40px;
		color: $mbb_blue;
		@include transition(all 150ms ease-in-out);
	}
}
/* Mobile/Responsive Menu. */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 768px) {
	.main-navigation {
		padding: 0 !important;
		@include transition(all 150ms ease-in-out);
		li {
			float: none;
			padding: 0 15px;
			border-bottom: 1px solid #ddd;
			background: rgba(255,255,255,.85);
		}
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
}
.menu-home-navigation-container, .menu-main-navigation-container {
	margin: 0 auto; 
}
.mbb-logo-text-in {
	font-family: 'sportsworld';
	font-size: 2rem;
	left: 85px;
	position: fixed;
	text-shadow:   -1px -1px 0 $mbb_blue,  
				    1px -1px 0 $mbb_blue,
				    -1px 1px 0 $mbb_blue,
				     1px 1px 0 $mbb_blue;

	a, a:visited {
		color: #ddd !important;
	}

	@include transition(all .5s ease-in-out);

	@media screen and (max-width: 768px) {
		display: none !important;
	}
}
#nav-toggle-tall li a {
	color: #bababa !important;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
