.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background-color: $mbb_blue;
	height: 60px;
	@include transition(all 0.3s ease-in-out);

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-size: 14px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding: 10px 20px 5px 20px;
		background-color: $mbb_blue;
		line-height: 40px;
		font-size: 16px;

		a {
			color: white;

			// &:hover {
			// 	color: $mbb_blue;
			// 	background-color: white;
			// 	;
			// }
		}		

		// &:hover > a {
		// 	color: $mbb_blue;
		// }

		// &:hover {
		// 	color: $mbb_blue;
		// 	background-color: white;
		// }
	}
	a {
		display: block;
		text-decoration: none;
			&:hover:after,
			&:hover:before {
	 			backface-visibility: hidden;
	  			border-color: #fff;
	  			transition: width 150ms ease-in-out;
	  			width: 100%;
			}
			&:after,
			&:before {
			  backface-visibility: hidden;
			  border: 1px solid rgba(#fff, 0);
			  bottom: 0px;
			  content: " ";
			  display: block;
			  margin: 0 auto;
			  position: relative;
			  transition: all 180ms ease-in-out;
			  width: 0;
			}

			&:hover:after,
			&:hover:before {
			  backface-visibility: hidden;
			  border-color: #fff;
			  transition: width 150ms ease-in-out;
			  width: 100%;
			}

			&:hover:before {
			  bottom: auto;
			  top: 0;
			  width: 100%;
			}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

}
.active {
	.main-navigation ul li a {
		line-height: 60px;
	}
}
.menu-home-navigation-container {
	max-width: $max-width;
	margin: 0 auto; 
}
/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}