/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
@import "menus";

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid white;
    border-radius: 3px;
    background: $mbb_blue;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em .75em;
    margin: 0 auto;
    width: 100%;
    &:hover {
        background-color: rgba($mbb_blue, .9);
        box-shadow: none;
    }
}